* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.mt-twenty {
  margin-top: 35px;
}

.wrapper {
  position: relative;
  width: 35%;
  background-color: #fff;
  /* color: #222; */
  /* padding: 40px 20px; */
  padding: 10px 10px;
  border-radius: 3px;
  margin: 50px auto 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .25);
}

.aso {
  width: 400px;
  margin: 0 auto;
  padding: 20px 40px;
  box-shadow: 1px 2px 70px rgba(0, 0, 0, .15);
  overflow: hidden;
}

.aso h3 {
  color: #7177bf;
  font-size: 18.3px;
  letter-spacing: 1px;
  word-spacing: 5px;
  margin-top: 20px;
}

.operational_block {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e9eaf0;
  padding: 25px 0; 
  perspective: 1000px;
}

.operational_block h6 {
  font-weight: 400;
  font-size: 14px;
  color: #646790;
  line-height: 24px;
}

a.optbtn:hover,
a.optbtn:focus {
  color: #3ae5c4;
  background-color: #fff;
  border: 1px solid #3ae5c4;
  box-shadow: 0 0 0 transparent;
}

a.optbtn {
  color: #fff;
  text-decoration: none;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  background-color: #3ae5c4;
  line-height: 25px;
  height: 25px;
  width: 100px;
  border: 1px solid #3ae5c4;
  border-radius: 14px;
  box-shadow: 0 0 65px rgba(58, 229, 196, 0.3);
  user-select: none;
  will-change: color, background-color, border, box-shadow;
  transition: 200ms ease;
}

a.vfspbtn:hover,
a.vfspbtn:focus {
  background-color: #b4b8df;
  color: #fff;
}

a.vfspbtn {
  text-decoration: none;
  color: #b4b8df;
  font-size: 12.5px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  line-height: 50px;
  height: 50px;
  width: 100%;
  margin: 30px auto 20px;
  border: 1px solid #b4b8df;
  border-radius: 25px;
  user-select: none;
  will-change: box-shadow, color;
  transition: 300ms linear;
}

.operational_block.bb_theme {
  border-bottom: 1px solid #e9eaf0;
}